

{% block content %}
   <script type="text/javascript">
      // Start sim action
      $("#startSim").click(function(){
         $.post("/startSim", function(data){
            if(data['success']){
               $("#stopSim").prop('disabled', false);
               $("#startSim").prop('disabled', true);
               $("#resetSim").prop('disabled', true);

               // Finally creat the event listenner
               var source = new EventSource("/runSim");
               source.onmessage = function (event) {
                  const myArray = event.data.split(" ");
                  if(myArray[0]==='finished'){
                     source.close();
                     return;
                  }
                  var pos = document.getElementById('position');
                  pos.textContent =myArray[0];
                  if(myArray[1]==="True"){
                     document.getElementById('capteur1').className = "fas fa-toggle-on fa-2x text-success ";
                  }else{
                     document.getElementById('capteur1').className = "fas fa-toggle-off fa-2x text-gray-800";
                  }
                  if(myArray[2]==="True"){
                     document.getElementById('capteur2').className = "fas fa-toggle-on fa-2x text-success ";
                  }else{
                     document.getElementById('capteur2').className = "fas fa-toggle-off fa-2x text-gray-800";
                  }
                  if(myArray[3]==="True"){
                     document.getElementById('moteur').className = "fas fa-toggle-on fa-2x text-success ";
                  }else{
                     document.getElementById('moteur').className = "fas fa-toggle-off fa-2x text-gray-800";
                  }
                  if(myArray[4]==="True"){
                     document.getElementById('reverse').className = "fas fa-toggle-on fa-2x text-success ";
                  }else{
                     document.getElementById('reverse').className = "fas fa-toggle-off fa-2x text-gray-800";
                  }
               };
            }
         });
         
      });
      $("#stopSim").click(function(){
         $.post("/stopSim", function(data){
            if(data['success']){
               $("#stopSim").prop('disabled', true);
               $("#startSim").prop('disabled', false);
               $("#resetSim").prop('disabled', false);
            }
         });
      });
      $("#resetSim").click(function(){
         $.post("/resetSim");
      });

      
   </script>

   <!-- Page level plugins -->
   <!--<script src="{{ url_for('static', filename='scripts/Chart.min.js')}}"></script>-->

   <!-- Page level custom scripts -->
   <!--<script src="{{ url_for('static', filename='scripts/chart-area-demo.js')}}"></script>-->
   <!--<script src="{{ url_for('static', filename='scripts/chart-pie-demo.js')}}"></script>
       <script src="{{ url_for('static', filename='scripts/chart-bar-demo.js')}}"></script> -->





<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">{% block title %}Tableau de bord{% endblock %}</h1>
<h2 class="h4 mb-2 text-gray-800">État du système</h2>
<!-- Content Row -->
<div class="row">
   <!-- Position as a card-->
   <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           Position [m]</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="position">0.0</div>
                     </div>
                     <div class="col-auto">
                        <i class="fas fa-location-arrow fa-2x text-gray-300"></i>
                     </div>
               </div>
            </div>
         </div>
   </div>
   <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           Capteurs fin de course</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Capteur début:</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-toggle-off fa-2x text-gray-800" id="capteur1"></i></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Capteur fin:</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-toggle-off fa-2x text-gray-800" id="capteur2"></i></div>
                     </div>
                     <div class="col-auto">
                        <i class="fas fa-step-forward fa-2x text-gray-300"></i>
                     </div>
               </div>
            </div>
         </div>
   </div>
   <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           Commandes moteur</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Marche:</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-toggle-off fa-2x text-gray-800" id="moteur"></i></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Sens inversé:</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-toggle-off fa-2x text-gray-800" id="reverse"></i></div>
                     </div>
                     <div class="col-auto">
                        <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
                     </div>
               </div>
            </div>
      
         </div>
   </div>
</div>
<h2 class="h4 mb-2 text-gray-800">Contrôle du système</h2>
<div class="row">
   <div class="col-lg-6">
      <button type="button" class="btn btn-primary" id="startSim">Start simulation</button>
      <button type="button" class="btn btn-primary" id="resetSim">Reset simulation</button>
      <button type="button" class="btn btn-primary" id="stopSim" disabled>Stop simulation</button>
   </div>
</div>



{% endblock %}