

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Exercice 3: Arrêt</h1>
    <p class="mb-4">Ajouter un programme Lader pour arrêter et reprendre le fonctionnement du mode automatique.
        Ce programme doit être prioritaire et mettre en pause le grafcet.
    </p>
    <div class="card mb-4">
        <div class="card-header">
            Consignes
        </div>
        <div class="card-body">
            <ul>
                <li>En mode automatique, interfacer le bouton start/stop</li>
            </ul>
        </div>
    </div>
{% endblock %}