

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Exercice 2: Mode automatique</h1>
    <p class="mb-4">Mettre en place un mode automatique dans lequel le chariot se déplace d'un bout à l'autre du rail avec
        une temporisation de 2 secondes à chaque extrémités. Faire le programe automatique en Grafcet.
    </p>
    <div class="card mb-4">
        <div class="card-header">
            Consignes
        </div>
        <div class="card-body">
            <ul>
                <li>Utiliser les boutons du commutateur de mode pour utiliser un mode automatique</li>
                <li>Utiliser les capteur de fin de course pour déclencher un timer de 2s</li>
                <li>En fonction du capteur activé, commuter le sense de marche</li>
            </ul>
        </div>
    </div>
{% endblock %}