

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Exercice 4: Fonctionnement avancé</h1>
    <p class="mb-4">Replacer le grafcet par un programme en texte structuré en ajoutant un arrêt à la position centrale.
        Cet arrêt a une durée fixe de 3 secondes. Dans cet interval de temps, l'opérateur peut choisir avec les
        boutons de direction du mode manuel dans quelle direction va repartir le chariot. Le chariot repart dès l'action utilisateur
        sans attendre la fin de la temporisation.
    </p>
    <p>Si aucun ordre n'est donné, le chariot reprend sa route dans la direction avant l'arêt central.</p>
    <div class="card mb-4">
        <div class="card-header">
            Consignes
        </div>
        <div class="card-body">
            <ul>
                <li>Interfacer le capteur centrale (arrêt et temporisation)</li>
                <li>Programer la nouvelle logique en Structured Text</li>
                <li>Le mode manuel subsiste</li>
                <li>L'arrêt et le démarrage du mode automatique subsiste</li>
            </ul>
        </div>
    </div>
{% endblock %}