{% extends 'base.html' %}

{% block script %}
   <script type="text/javascript">
      var source = new EventSource("/runSim");
        source.onmessage = function (event) {
            alert(event.data);
            //var pos = document.getElementById('position');
            //alert(pos);
            //pos.textContent =event.data;
        };
   </script>

   <!-- Page level plugins -->
   <script src="{{ url_for('static', filename='scripts/Chart.min.js')}}"></script>

   <!-- Page level custom scripts -->
   <script src="{{ url_for('static', filename='scripts/chart-area-demo.js')}}"></script>
   <!--<script src="{{ url_for('static', filename='scripts/chart-pie-demo.js')}}"></script>
       <script src="{{ url_for('static', filename='scripts/chart-bar-demo.js')}}"></script> -->
{% endblock %}


{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Visualisation</h1>
<p class="mb-4">Visualisation des variables du système dynamique</p>
<!-- Content Row -->
<div class="row">

   <div class="col-xl-8 col-lg-7">

       <!-- Area Chart -->
       <div class="card shadow mb-4">
           <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Position</h6>
           </div>
           <div class="card-body">
               <div class="chart-area">
                   <canvas id="myAreaChart"></canvas>
               </div>
               <hr>
               Position de chariot.
           </div>
       </div>
   </div>

   <!-- Position as a card-->
   <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           Position</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="position">0.0</div>
                     </div>
                     <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                     </div>
               </div>
            </div>
         </div>
   </div>
</div>
{% endblock %}