

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Exercice 3: Arrêt</h1>
    <p class="mb-4">Ajouter la possibilité d'arrêter et de reprendre le fonctionnement du mode automatique en fonction de la position du 
        bouton bascule Marche/Arrêt.
    </p>
    <p class="mb-4">Il est demandé que le basculement sur "arrêt" ne mette pas en pause la temporisation des arrêt en bout de course. Si l'arrêt
        intervient dans une phase de pause et qu'il se prolonge au delà du temps restant de la temporisation, lorsque le bouton est basculé
        sur "marche" le chariot repart dirrectement.
    </p>
    <div class="card shadow mb-4">
        <div class="card-header">
            Consignes
        </div>
        <div class="card-body">
            <ul>
                <li>Interfacer le bouton start/stop</li>
                <li>Vérifier le fonctionnement dans le mode automatique</li>
                <li>Vérifier que le commutateur n'a pas d'impacte sur le mode manuel</li>
            </ul>
        </div>
    </div>
{% endblock %}