{% extends "base.html" %}

{% block content %} 
<div class="row">
    <!-- Position as a card-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Chariot simple
                        </div>
                        <img src="{{ url_for('static', filename='ressources/Chariot.png')}}" class="img-fluid" alt="Image chariot">
                        <div class="mb-0 font-weight-bold text-gray-800" id="position">
                            Chariot se déplaçant à l'aide d'une vis à bille.
                        </div>
                        <a href="/simpleAxisModule/simpleAxisModule.html" class="btn btn-primary stretched-link">Commencer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Chariot moteur DC avec codeur position
                        </div>
                        <img src="{{ url_for('static', filename='ressources/MotorDCVis.jpg')}}" class="img-fluid" alt="Image chariot">
                        <div class="mb-0 font-weight-bold text-gray-800" id="position">
                            Chariot se déplaçant à l'aide d'une vis à bille mais entraîné par un moteur DC piloté en tension.
                            La mesure de position est retournée pour la commande en boucle fermée.
                        </div>
                        <a href="/motorDCAxisModule/motorDCAxisModule.html" class="btn btn-primary stretched-link">Commencer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block sidebar %}
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Automation</div>
</a>
<!--
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
        <img src="{{ url_for('static', filename='ressources/logo.svg')}}" width="65%" height="65%"> </img>
   </div>
</a>-->

<!-- Divider -->
<hr class="sidebar-divider my-0">


<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
{% endblock %}



{% block script %}   
<script>
    $(".card").on("mouseover", function(){
        $(this).removeClass("border-left-secondary");
        $(this).addClass("border-left-primary");
    });
    $(".card").on("mouseleave", function(){
        $(this).removeClass("border-left-primary");
        $(this).addClass("border-left-secondary");
    });
</script>
{% endblock %}
